html, body {
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  display: none;
}

.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.main__cert {
  margin-bottom: -46px;
}

.main__team {
  padding-bottom: 180px;
  padding-top: 166px;
}

.main__testimonials {
  padding-bottom: 195px;
}

.main__companies {
  padding-bottom: 177px;
}

.main__program {
  padding-top: 115px;
  padding-bottom: 185px;
}

.main__blog {
  padding-bottom: 213px;
}

.main__info {
  padding-bottom: 180px;
}

.main__questions {
  padding-bottom: 180px;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.05);
}

.button--empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {}

.heading {
  color: #1E212C;
  line-height: 150%;
}

.heading__subtitle {
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.heading__title {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 48px;
  line-height: 130%;
}

.heading--text-center {
  text-align: left;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.header {
  font-weight: 700;
  background: url("../images/decor/shapes-bg.svg") 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top {
}

.header__top--open {
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  line-height: 1.6;
  white-space: nowrap;
  transition: all .3s;
}

.header__nav-link:hover {
  color: red;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}

.header__user-nav {
  display: flex;
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  white-space: nowrap;
}

.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: all .3s;
}

.header__user-btn:hover {
  color: red;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

.header__body {
  flex-grow: 1;
}

.header__body-inner {}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header__play svg {
  margin-right: 16px;
  transition: all .3s;
  border-radius: 50%;
}

.header__play svg:hover {
  box-shadow: 0 0 0 16px rgb(255, 63, 58, .12);
}

.header__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 550px;
  margin-bottom: 60px;
}

.header__content-buttons {
  display: flex;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin-bottom: 80px;
}

.header__bottom>span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF3F3A;
  margin: 0 15px;
}

.header__bottom-item {
  display: flex;
  align-items: center;
}

.header__bottom-item span {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-right: 12px;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

.about {}

.about__inner {
  font-family: Lato;
}

.about__createx {
  margin-bottom: 180px;
  position: relative;
  display: flex;
  align-self: end;
  justify-content: space-between;
}

.about__createx::before {
  content: "";
  position: absolute;
  top: -80px;
  right: -140px;
  background: url("../images/decor/1.svg");
  width: 100px;
  height: 85px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--accent {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__img-container {
  display: flex;
  align-items: flex-end;
}

.about__btn:last-child {
  margin-right: 0;
}

.about__img {}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box {
  border-radius: 4px;
  overflow: hidden;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;
  white-space: nowrap;
}

.about__number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
  margin-right: 16px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.directions {}

.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: "";
  position: absolute;
  display: block;
  top: 30px;
  left: -190px;
  width: 136px;
  height: 115px;
  background: url("../images/decor/2.svg") 0 0 no-repeat;
}

.directions__inner::after {
  content: "";
  position: absolute;
  display: block;
  top: 400px;
  right: -400px;
  width: 243px;
  height: 243px;
  opacity: 0.12;
  background: url("../images/decor/3.svg") 0 0 no-repeat;
}

.directions__heading {
  margin-bottom: 90px;
}

.directions__body {}

.directions__filter-box {
  display: flex;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.directions__filter-item {
  margin-right: 45px;
  directions__filter-item;
  margin-bottom: 15px;
}

.directions__filter-item:last-child {
  margin-right: 0px;
}

.directions__filter-btn {
  background-color: transparent;
  color: #9A9CA5;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  padding: 5px 7px;
}

.directions__filter-btn--active {
  background: linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%);
  border: none;
  color: #fff;
  padding: 6px 8px;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-items {
  border-radius: 4px;
  overflow: hidden;
}

.mix {}

.directions__list-items--marketing .directions__link-tag {
  background-color: #03CEA4;
}

.directions__list-items--management .directions__link-tag {
  background-color: #5A87FC;
}

.directions__list-items--hr .directions__link-tag {
  background-color: #F89828;
}

.directions__list-items--design .directions__link-tag {
  background-color: #F52F6E;
}

.directions__list-items--development .directions__link-tag {
  background-color: #7772F1;
}

.directions__list-link {
  display: block;
  transition: all 1s;
}

.directions__list-link:hover {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
  color: #FF3F3A;
  transition: all .3s;
}

.directions__image-box img {
  height: 100%;
  width: 100%;
}

.directions__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E8ED;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.directions__link-tag {
  font-weight: 700;
  color: #fff;
  line-height: 1;
  background-color: #999;
  padding: 6px 8px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.directions__link-text {
  color: #787A80;
  margin-bottom: 20px;
}

.directions__link-btn {
  display: flex;
  color: #1E212C;
  font-weight: 700;
  transition: all 1s;
}

.directions__link-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icons/arrow-right.svg")0 1.5px / 100% no-repeat;
  margin-left: 11px;
}

.directions__list-items--empty {
  background-color: #F4F5F6;
  color: #424551;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.directions__list-items--empty span {
  max-width: 240px;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

.cert {}

.cert__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cert__inner::before {
  content: "";
  position: absolute;
  display: block;
  top: -15px;
  left: -190px;
  width: 60px;
  height: 60px;
  background: url("../images/decor/4.svg") 0 0 no-repeat;
}

.cert__content {
  max-width: 400px;
}

.cert__heading {
  margin-bottom: 50px;
}

.cert__text {
  margin-bottom: 32px;
}

.cert__logos {
  display: flex;
}

.cert__logos-item {
  margin-right: 40px;
}

.cert__logos-item:last-child {
  margin-right: 0;
}

.cert__image-box {
  
}

.cert__image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

.team {
  background-color: #F4F5F6;
}

.container {}

.team__inner {}

.team__heading {
  margin-bottom: 60px;
}

.heading {}

.heading__subtitle {}

.heading__title {}

.team__slider {
  display: flex;
  justify-content: space-between;
}

.team__slide {
  margin-right: 25px;
}

.team__slide:hover {}

.team__slide:hover .team__socials {
  transform: translateY(0%);
  z-index: 2;
}

.team__image-box {
  border-radius: 4px;
  position: relative;
}

.team__image {
}

.team__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__socials {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transform: translateY(50%);
  transition: all .5s;
  z-index: -1;
}

.team__socials-item {
  margin-right: 12px;
}

.team__socials-item:last-child {
  margin-right: 0;
}

.team__socials-link {
  display: block;
  line-height: 0;
}

.team__socials-link path {
  transition: all .3s;
}

.team__socials-link:hover path {
  fill: #fff;
}

.team__info {
  padding-top: 16px;
}

.team__info-name {
  color: #424551;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.team__info-position {
  padding-top: 4px;
  color: #787A80;
  text-align: center;
  font-family: Lato;
  font-weight: 400;
  line-height: 160%;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

.main__testimonials {}

.testimonials {
  background-color: #F4F5F6;
}

.testimonials__inner {}

.testimonials__heading>p {
  display: flex;
  justify-content: center;
}

.testimonials__heading>h2 {
  display: flex;
  justify-content: center;
}

.heading {}

.heading__subtitle {}

.heading__title {}

.testimonials__bg {
  padding: 64px;
  margin: 0 auto;
  display: flex;
  max-width: 1020px;
  height: 344px;
  background-color: #fff;
}

.testimonials__content {
  margin: 0 auto;
  max-width: 752px;
  max-height: 216px;
  padding-left: 58px;
}

.testimonials__icon {}

.testimonials__quote {
  position: relative;
  color: #424551;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}

.testimonials__quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: -58px;
  background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
  width: 28px;
  height: 20px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__img {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__name {
  font-family: Lato;
  font-weight: 700;
  line-height: 160%;
  color: #1E212C;
  margin-bottom: 4px;
}

.testimonials__position {
  color: #787A80;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

.companies {
  background-color: #F4F5F6;
}

.companies__inner {
  position: relative;
}

.companies__inner::before {
  content: "";
  position: absolute;
  left: -230px;
  bottom: -120px;
  background: url("../images/decor/5.svg") 0 0 / 100% no-repeat;
  width: 90px;
  height: 90px;
}

.companies__heading {
  margin-bottom: 60px;
}

.heading__subtitle {
  display: flex;
  justify-content: center;
}

.heading__title {
  display: flex;
  justify-content: center;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 8.1%;
}

.companies__grid-link {
  display: block;
}

.companies__grid-link img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: .5;
  transition: all 1.3s;
}

.companies__grid-link:hover img {
  filter: grayscale(0);
  opacity: 1;
  transition: all .3s;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.program {}

.program__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program__content {
  margin-right: 30px;
  max-width: 600px;
}

.program__heading {
  margin-bottom: 60px;
}

.heading__subtitle--prog {
  display: flex;
  justify-content: left;
}

.heading__title--prog {
  display: flex;
  justify-content: left;
}

.program__acc {}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-link {
  display: block;
  padding-left: 40px;
}

.program__acc-item:last-child {
  margin-bottom: 0;
}

.program__acc-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  position: relative;
}

.program__acc-head span {
  font-weight: 400;
  color: #FF3F3A;
}

.program__acc-head::before,
.program__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FF3F3A;
  border-radius: 2px;
}

.program__acc-head::after {
  transform: rotate(90deg);
  transition: all .3s;
}

.program__acc-text {
  margin-top: 16px;
  color: #424551;
  font-family: Lato;
}

.program__acc-link--active .program__acc-head::after {
  transform: rotate(0deg);
}

.program__image {
  flex-shrink: 0;
}

.program__image img {
  width: 100%;
  height: 100%;
}

/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

.blog {}

.blog__inner {}

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.heading__subtitle--blog {
  display: flex;
  justify-content: left;
}

.blog__heading {
  margin-right: 30px;
}

.heading {}

.blog__btn {}

.button {}

.blog__row {
  display: flex;
}

.blog__item {
  padding: 0 15px;
  flex: 0 1 33.333
}

.blog__item-link {
  display: block;
  transition: all 1.3s;
  height: 100%;
}

.blog__item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blog__image-box {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.blog__image-box img {
  max-width: 420px;
  width: 100%;
  object-fit: cover;
}

.blog__image-box span {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 4px;
  background: #FFF;
  padding: 1px 8px;
  margin-right: 4px;
}

.blog__image-box span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.blog__item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.blog__item-info {
  display: flex;
  justify-content: center;
  margin: 0 -12px 8px;
}

.blog__info-el {
  padding: 0 12px;
  position: relative;
  color: #787A80;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.blog__info-el::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787A80;
}

.blog__info-el:last-child::after {
  content: none;
}

.blog__info-date {
  display: flex;
  align-items: center;
}

.blog__info-date::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: url("../images/icons/calendar-icon.svg") 0 0 / 100% no-repeat;
  margin-right: 9px;
}

.blog__info-time {
  display: flex;
  align-items: center;
}

.blog__info-time::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: url("../images/icons/clock-icon.svg") 0 0 / 100% no-repeat;
  margin-right: 9px;
}

.blog__item-title {
  color: #1E212C;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}

.blog__item-text {
  color: #424551;
  font-family: Lato;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 16px;
  flex-grow: 1;
}

.blog__item-button {
  display: flex;
  align-items: center;
  color: #1E212C;
  font-family: Lato;
  font-weight: 700;
  line-height: 160%;
  transition: all .3s;
}

.blog__item-button::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icons/arrow-right.svg") 0 0 / 100% no-repeat;
  margin-left: 8px;
}

.blog__item-link:hover {
  box-shadow: 0px 30px 30px 10px rgba(101, 103, 109, 0.08);
  transition: all .3s;
}

.blog__item-link:hover .blog__item-button {
  color: #FF3F3A;
  transition: all .3s;
}

.blog__item--podcast .blog__image-box span::before {
  background: url("../images/icons/podcast-icon.svg") 0 0 / 100% no-repeat;
  width: 12px;
  height: 17px;
}

.blog__item--video .blog__image-box span::before {
  background: url("../images/icons/play-mini.svg") 0 0 / 100% no-repeat;
}

.blog__item--article .blog__image-box span::before {
  background: url("../images/icons/article-icon.svg") 0 0 / 100% no-repeat;
  width: 12px;
  height: 15px;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

.info {}

.container {}

.info__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__content {
  margin-right: 30px;
}

.info__heading {
  margin-bottom: 40px;
}

.heading {}

.heading__subtitle {
  display: flex;
  justify-content: left;
}

.heading__title {
  display: flex;
  justify-content: left;
}

.info__contacts {
  margin-bottom: 50px;
}

.info__contacts-item {
  margin-bottom: 24px;
  padding-left: 36px;
}

.info__contacts-item:last-child {
  margin-bottom: 0;
}

.info__item-top {
  color: #787A80;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  position: relative;
}

.info__item-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
}

.info__item-link {
  color: #1E212C;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  transition: all .3s;
}

.info__item-link:hover {
  color: #FF3F3A;
}

.info__mail .info__item-top::before {
  background: url("../images/icons/chat-icon.svg") 0 0 / 100% no-repeat;
}

.info__tel .info__item-top::before {
  background: url("../images/icons/phone-icon.svg") 0 0 / 100% no-repeat;
}

.info__address .info__item-top::before {
  background: url("../images/icons/mark-icon.svg") 0 0 / 100% no-repeat;
}

.info__tel {}

.info__address {
  color: #1E212C;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.info__item-address {
  color: #1E212C;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.info__follow {}

.info__follow-head {
  color: #1E212C;
  font-family: Lato;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.info__socials {
  display: flex;
}

.info__socials-item {
  margin-right: 32px;
}

.info__socials-item:last-child {
  margin-right: 0;
}

.info__socials-link path {
  transition: all .3s;
}

.info__socials-link:hover path {
  fill: #000;
}

.info__map {
  height: 412px;
  width: 100%;
  max-width: 705px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  border-radius: 4px;
  overflow: hidden;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

.questions {}

.questions__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions__img {
  min-width: 350px;
}
.questions__img img {
  height: 100%;
  width: 100%;
}

.questions__content {
  margin-left: 30px;
}

.questions__heading {
  margin-bottom: 40px;
}

.heading {}

.heading__subtitle {}

.heading__title {}

.questions__form {}

.questions__form-row {
  display: flex;
  margin-bottom: 24px;
}

.questions__form-label {
  margin-right: 25px;
  flex: 1 1 auto;
}

.questions__form-label:last-child {
  margin-right: 0;
}

.questions__text-label {
  display: block;
  margin-bottom: 50px;
}

.questions__form-input,
.questions__form-text {
  display: block;
  border-radius: 4px;
  border: 1px solid #D7DADD;
  padding: 13px 16px;
  width: 100%;
  margin-top: 8px;
}

.questions__form-input::placeholder,
.questions__form-text::placeholder {
  color: #9A9CA5;
}

.questions__form-text {
  resize: none;
  height: 128px;
}

.questions__checkbox-label {
  margin-right: 50px;
  display: flex;
  width: 100%;
}

.questions__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin-top: 5px;
  margin-right: 12px;
}

.questions__form-default:checked+.questions__form-custom {
  background: url("../images/icons/check.svg") 50% 50% no-repeat, #FF3F3A;
  border: 1px solid #424551;
}

.questions__form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.questions__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #424551;
  border-radius: 3px;
  cursor: pointer;
}

.questions__form-btn {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 16px;
}

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

.footer {
  overflow: hidden;
  color: #FFF;
}

.footer__top {
  padding: 80px 0 60px;
  background-color: #1E212C;
}

.container {}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.footer__top-col {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer__top-col:first-child {
  max-width: 310px;
}

.footer__top-col:last-child {
  max-width: 315px;
}

.footer__top-col:last-child .footer__top-title {
  white-space: normal;
}

.footer__top-title {
  pointer-events: none;
}

.footer__logo {
  display: block;
  margin-bottom: 25px;
}

.logo {}

.footer__top-text {
  font-family: Lato;
  font-size: 12px;
  opacity: 0.6;
  line-height: 150%;
  margin-bottom: 38px;
}

.footer__socials {
  display: flex;
}

.footer__socials-item {
  margin-right: 20px;
}

.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__socials-link path {
  transition: all .3s;
}

.footer__socials-link:hover path {
  fill: #FFF;
}

.footer__top-title {
  font-family: Lato;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
}

.footer__top-list {}

.footer__top-item {
  margin-bottom: 8px;
}

.footer__top-item:last-child {
  margin-bottom: 0;
}

.footer__top-link {
  display: flex;
  align-items: center;
  opacity: 0.6;
  transition: all .3s;
  white-space: nowrap;
}

.footer__top-link svg {
  margin-right: 8px;
}

.footer__top-link:hover {
  opacity: 1;
}

.footer__form {
  
}

.footer__form-items {
  display: flex;
  border-radius: 4px;
  border: 1px solid #ffffff33;
  background: rgba(255, 255, 255, 0.12);
  margin-bottom: 12px;
}

.footer__form-input {
  padding: 9px 0 9px 12px;
  font-size: 12px;
  line-height: 150%;
  color: #FFF;
  width: 100%;
  position: relative;
  background-color: transparent;
}

.footer__form-input::placeholder {
  color: #FFF;
  opacity: .6;
}

.footer__form-btn {
  background: transparent;
  padding: 10px 12px;
}

.footer__form-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icons/arrow-reght-mini.svg");
  transition: all .2s;
}

.footer__form-btn:hover::before {
  transform: scale(1.2);
}

.footer__form-desc {
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 150%;

}

.footer__bottom {
  background-color: #292C37;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer__copy span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icons/Heart-icon.svg") 0 0 / 100% 100% no-repeat;
  vertical-align: sub;
}

.footer__go-top {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  opacity: 0.6;
  text-transform: uppercase;
  transition: all .3s;
}

.footer__go-top:hover {
  opacity: 1;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ============================== 1200 ========================== */
@media (max-width: 1200px) {
  .header__title {
    font-size: 49px;
    max-width: 450px;
  }
  .header__img {
    max-width: 440px;
  }
  /* ----------------------------- */
  .program__image {
    max-width: 400px;
  }
  /* ----------------------------- */
  .blog__item-info {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 8px;
  }
  .blog__info-el {
    padding: 0;
  }
  .blog__info-el::after {
    content: none;
  }
  .blog__info-dir {
    order: 1;
  }
  .blog__info-date {
    order: 3;
    flex-basis: 100%;
  }
  .blog__info-time {
    order: 2;
  }
}
/* ============================== 1100 ========================== */
@media (max-width: 1100px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }
  .burger--follow {
    top: 15px;
    right: 15px;
    box-shadow: 0 3px 8px #bab9d6;
    background-color: #fff;
  }
  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    background-color: #424551;
    border-radius: 3px;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background-color: #424551;
    border-radius: 3px;
    margin: 4px 0;
  }
  .header {
    padding-top: 92px;
  }
  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    transform: translateX(0%);
    transition: all .3s;
  }
  .header__top--open {
    transform: translateX(100%);
  }
  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
  }
  .header__logo {
    margin: 0 0 30px 0;
  }
  .header__nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }
  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .header__nav-item {
    margin: 0;
  }
  .header__nav-link {
    display: block;
    padding: 5px;
  }
  .header__btn-box {
    flex-direction: column-reverse;
  }
  .header__top-btn {
    margin: 0;
  }
  .header__user-nav {
    margin-bottom: 30px;
  }
  .header__content {
    margin: 0;
  }
  /* ----------------------------- */
  .heading__title {
    font-size: 37px;
  }
  .about__img {
    max-width: 400px;
  }
  /* ----------------------------- */
  .cert__inner {
    flex-direction: column;
    align-items: center;
  }
  .cert__image-box {
    max-width: 600px;
  }
  .cert__content {
    margin: 0 0 30px 0;
  }
  .cert__heading {
    text-align: center;
  }
  .heading__subtitle--cen {
    justify-content: center;
  }
  /* ----------------------------- */
  .team__slider {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    justify-content: left;
    gap: 20px;
  }
  /* ------------------------------ */
  .companies__grid {
    gap: 40px 5%;
  }
  /* ------------------------------- */
  .program__content {
    margin: 0;
  }
  .program__image {
    display: none;
  }
  /* ------------------------------- */
  .blog__heading {
    margin-right: 25px;
  }
  /* ----------------------------- */
  .footer__top-inner {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer__top-col {
    margin-bottom: 30px;
  }
  .footer__top-col:first-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 30px;
  }
  .footer__top-col:last-child {
    margin-bottom: 0;
    flex-basis: 100%;
    max-width: none;
  }
  .footer__form-items {
    max-width: 315px;
  }
}
/* ============================== 910 ========================== */
@media (max-width: 910px) {
  .header__img {
    display: none;
  }
  .header__bottom {
    display: none;
  }

  /* ----------------------------- */
  
  .about__img {
    display: none;
  }
  /* ----------------------------- */
  .directions__filter-item {
    margin-right: 10px;
  }
  .directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px 10px;
  }
  .directions__link-content {
    padding: 24px 5px 5px;
  }
  /* ----------------------------- */
  .testimonials__quote {
    font-size: 18px;
  }
  /* ----------------------------- */
  .companies__grid {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, 1fr);
    gap: 40px 5.1%;
  }
  /* ----------------------------- */
  .blog__row {
    flex-direction: column;
    align-items: center;
  }
  .blog__image-box {
    display: flex;
    justify-content: center;
  }
  .blog__item--podcast .blog__image-box {
    background-color: #a2d0f7;
  }
  .blog__item--video .blog__image-box {
    background-color: #caf0e3;
  }
  .blog__item--article .blog__image-box {
    background-color: #fff8aa;
  }
  .blog__item {
    padding: 0 0 30px 0;
  }
  /* ----------------------------- */
  .info__inner {
    align-items: flex-start;
    flex-direction: column;
  }
  .info__content {
    margin: 0 0 20px 0;
  }
  .info__map {
    height: 200px;
    max-width: none;
  }
  /* ----------------------------- */
  .questions__content {
    margin: 0;
    width: 100%;
  }
  .questions__img {
    display: none;
  }
}
/* ============================== 700 ========================== */
@media (max-width: 700px) {
  .about__createx {
    margin-bottom: 60px;
  }
  .about__values {
    flex-direction: column;
  }
  .about__image-box {
    display: none;
  }
  .about__numbers {
    margin: 0;
    align-self: flex-start;
  }
  /* ----------------------------- */
  .directions__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }
  /* ----------------------------- */
  .team__slider {
    display: grid;
    grid-template: repeat(4, auto) / repeat(1, auto);
    justify-content: left;
    gap: 20px;
  }
  /* ----------------------------- */
  .testimonials__bg {
    padding: 32px;
  }
  /* ----------------------------- */
  .program__acc-head {
    font-size: inherit;
    line-height: inherit;
  }
}
/* ============================== 550 ========================== */
@media (max-width: 550px) {
  .heading {
    margin-bottom: 30px;
  }
  .heading__subtitle {
    font-size: 14px;
    margin: 0;
  }
  .heading__subtitle--cen {
    
  }
  .heading__title {
    font-size: 25px;
  }
  /* ----------------------------- */
  .main__about {
    padding: 60px 0;
  }
  .about__text {
    margin-bottom: 30px;
  }
  .about__paragraph {
    font-size: inherit;
    margin-bottom: 10px;
  }
  .about__btn-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .about__btn {
    margin: 30px 0 0 0;
  }
  /* ----------------------------- */
  .main__team {
    padding-bottom: 80px;
    padding-top: 130px;
  }
  /* ----------------------------- */
  .main__directions {
    padding-bottom: 100px;
  }
  .directions__list {
    grid-template: repeat(6, auto) / repeat(1, 1fr);
  }
  .directions__list-items--empty {
    display: none;
  }
  /* ------------------------------ */
  .main__testimonials {
    padding-bottom: 70px;
  }
  .testimonials__quote {
    position: relative;
    color: #424551;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 15px;
  }
  .testimonials__bg {
    padding: 16px;
  }
  /* ------------------------------- */
  .main__companies {
    padding-bottom: 40px;
  }
  .companies__grid {
    grid-template: repeat(2, auto) / repeat(3, 1fr);
  }
  /* ------------------------------- */
  .main__program {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  /* ------------------------------- */
  .main__blog {
    padding-bottom: 60px;
  }
  .blog__heading {
    margin: 0 0 30px 0;
  }
  .blog__top {
    align-items: start;
  }
  .blog__btn {
    margin-top: 10px;
  }
  /* ----------------------------- */
  .main__info {
    padding-bottom: 80px;
  }
  /* ----------------------------- */
  .main__questions {
    padding-bottom: 60px;
  }
  .questions__form-row {
    flex-direction: column;
  }
  .questions__form-label {
    margin: 0 0 24px 0;
  }

  .questions__form-label:last-child {
    margin: 0;
  }
  .questions__form-input,
  .questions__form-text {
    margin: 0;
  }
  .questions__checkbox-label {
    margin: 0 0 24px 0;
  }
  .questions__form-label {
    font-size: 14px;
  }
  .questions__text-label {
    font-size: 14px;
  }
  .questions__checkbox-label {
    font-size: 14px;
  }
  /* ------------------------------- */
  .footer__top-inner {
    flex-direction: column;
  }
  .footer__top-title {
    pointer-events: auto;
    margin: 0;
  }
  .footer__top-list {
    margin-top: 12px;
    display: none;
  }
  .footer__bottom-inner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer__go-top {
    margin-bottom: 10px;
  }
}
/* ============================== 470 ========================== */
@media (max-width: 470px) {
  .header__top {
    min-width: none;
    width: 100%;
    left: 0;
  }

  /* --------------------------------- */

  .header__title {
    max-width: 297px;
    font-size: 33px;
  }
  .header__content-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__content-btn {
    margin: 0 0 30px 0;
    text-align: center;
  }
  /* ----------------------------- */
  .directions__filter-box {
    margin-bottom: 15px;
  }
  /* ----------------------------- */
  .cert__logos {
    flex-direction: column;
    align-items: center;
  }
  .cert__logos-item {
    margin: 0 0 30px 0;
  }
  .cert__logos-item:last-child {
    margin: 0;
  }
  /* ----------------------------- */
  .testimonials__bg {
    padding: 16px;
  }
  .testimonials__content {
    padding-left: 15px;
  }
  .testimonials__quote {
    font-size: 16px;
  }
  .testimonials__quote::before {
    left: -31px;
  }
  /* ------------------------------ */
  .companies__grid {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }
  /* ------------------------------ */
  .blog__top {
    flex-direction: column;
  }
  .blog__heading {
    margin-bottom: 0;
  }
  .heading__title {
    margin-bottom: 35px;
  }
  /* ------------------------------ */
  .info__socials-item {
    margin-right: 20px;
  }
}